@import "tailwindcss";
@plugin "@tailwindcss/forms";

@import url("https://fonts.google.com/noto/specimen/Noto+Sans");

@custom-variant dark (&:where(.dark, .dark *));
/* - **Mobile**: 375px
- **Desktop**: 1440px */
@theme {
  /* Neutral */
  --color-neutral-0: hsl(200, 60%, 99%);
  --color-neutral-100: hsl(0, 0%, 93%);
  --color-neutral-200: hsl(217, 61%, 90%);
  --color-neutral-300: hsl(0, 0%, 78%);
  --color-neutral-600: hsl(226, 11%, 37%);
  --color-neutral-700: hsl(225, 23%, 24%);
  --color-neutral-800: hsl(226, 25%, 17%);
  --color-neutral-900: hsl(227, 75%, 14%);
  /* Red */
  --color-red-400: hsl(3, 86%, 64%);
  --color-red-500: hsl(3, 71%, 56%);
  --color-red-700: hsl(3, 77%, 44%);

  /* Gradient */
  /* --bg-light: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --bg-dark: linear-gradient(180deg, #040918 0%, #091540 100%); */

  /* Font */
  --font-family: "Noto Sans", sans-serif;

  /* Font size */
  --font-size-paragraph: 16px;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
